<ion-view view-title="Attendance" name="attendance-view" ng-app="attendance" ng-init="getMonthlyAttendance()">
  <ion-content>
    <div>&nbsp;
        <div class="row" >&nbsp;
            <div class="col col-33" style="padding-left:5%">
                <a class="button icon-left ion-chevron-left" ng-click="go_backward()"></a>
            </div>
            <div class="col col-33" align="center" style="margin-top:12px;">
                <b>{{monthNames[currentMonth]}} {{currentYear}}</b>
            </div>
            <div class="col col-33" align="right" style="padding-right:5%">
                <a class="button icon-right ion-chevron-right" ng-click="go_forward()">
                </a>           
            </div>
        </div>
          <div class="row bold-font" style="padding-left: 5%;">
            <!-- <div ng-repeat="week in weeks"> -->
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[0]}}</div>
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[1]}}</div>
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[2]}}</div>
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[3]}}</div>
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[4]}}</div>
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[5]}}</div>
                <div class="col col-20" align="center" style="flex:0 0 14%">{{weeks[6]}}</div>
            <!-- </div> -->
          </div>
        <div ng-repeat="rows in attendanceRange">
            <div class="row" style="padding-left: 5%;">
              <!-- <div ng-repeat="n in r"> -->
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[0]]]}}"  align="center" style="flex:0 0 14%;">{{rows[0]}}</div>
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[1]]]}}" align="center" style="flex:0 0 14%;">{{rows[1]}}</div>
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[2]]]}}" align="center" style="flex:0 0 14%;">{{rows[2]}}</div>
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[3]]]}}" align="center" style="flex:0 0 14%;">{{rows[3]}}</div>
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[4]]]}}" align="center" style="flex:0 0 14%;">{{rows[4]}}</div>
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[5]]]}}" align="center" style="flex:0 0 14%;">{{rows[5]}}</div>
                <div class="col col-20 table-col {{columnColors[attendanceDict[rows[6]]]}}" align="center" style="flex:0 0 14%;">{{rows[6]}}</div>
              <!-- </div> -->
            </div>
        </div>  
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row" >
            <div class="col col-25" align="center" style="color: green;">Present</div>
            <div class="col col-25" align="center" style="color: red;">Absent</div>
            <div class="col col-25" align="center" style="color: #FF4500;">Holiday</div>
            <div class="col col-25" align="center" style="color: #00FFFF;">Not Filled</div>
        </div>
    </div>
  </ion-content>
</ion-view>

