<ion-view view-title="TimeTable" name="p_timetable-view" ng-app="p_timetable">
  <ion-content class="padding">
  
  <div ng-hide="!hasFaculty">
    <label class="item item-input item-select">
      <div class="input-label">
          Select Faculty
      </div>

      <select ng-options="faculty.Name for faculty in faculty_list" ng-model="selectedItem" ng-change="facultyId(selectedItem)">
          <!-- <option  value="">Select Faculty</option> -->
      </select>
    </label>
  </div>

<br>

<div ng-hide="!hasSchedule">

    <!-- TimeTable Data -->

    <ion-list >
      <ion-item class="item-borderless" ng-repeat="timetable in schedule" >
         <div class="row">
            <div style="width:50%; text-align:left;">
              <p >{{timetable.Name}}</p>  
            </div>
            <div style="width:50%; text-align:right; "> 
              <p >{{timetable.StartTime}} - {{timetable.EndTime}}</p>
            </div>
          </div>
          <div class="row">
            <div style=" width:100; text-align:left; "> 
              <p >{{timetable.BatchName}}</p>
            </div>
          </div>
      </ion-item>
    </ion-list>

</div>
</ion-content>
</ion-view>