<ion-view view-title="TimeTable" name="p_timetable-view" ng-app="p_timetable">
  <ion-content class="padding">
  
  <div ng-hide="!isAdmissionYear">
  <label class="item item-input item-select">
    <div class="input-label">
        Select Month
    </div>

    <select ng-options="month.Value for month in month_list" ng-model="monthdata" ng-change="monthId(monthdata)">
        <option  value="">Select Month</option>
    </select>
  </label>
</div>

<br>

<div ng-hide="!isAdmission">
  <!-- Admission Header -->
  <div class="row">
    <div style="width:50%; text-align:center;">
      <b >Standard Name</b>  
    </div>
    <div style="width:50%; text-align:center; "> 
      <b >Standard Count</b>
    </div>
  </div>

    <!-- Admission Data -->

    <ion-list >
      <ion-item class="item-borderless" ng-repeat="admission in admission_list" >
         <div class="row">
            <div style="width:50%; text-align:center;">
              <p >{{admission.AdmissionStandardName}}</p>  
            </div>
            <div style="width:50%; text-align:center; "> 
              <p >{{admission.AdmissionStandardCount}}</p>
            </div>
            
          </div>
      </ion-item>
    </ion-list>
</div>

</ion-content>
</ion-view>