<ion-view view-title="Complain" name="complain-view">
  <ion-content class="padding">
  	<div class="list">	
  		<div>
          <span><b>Complain Message</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" name="message" ng-init="complain.message=''" ng-model="complain.message" ng-minlength="3" required></textarea>
           </div>
           <div class="alert alert-danger"
                ng-show="message.$error.required">
                Please enter the Complain.
             </div>
        <label class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
          <input type="button" class="button button-positive" style="border-radius: 20px;" value="Save" id="Save" ng-click="sendComplain(complain)"/>
        </label>
    </div>    
</ion-content>
</ion-view>