<ion-view view-title="Student View Complain" name="complain-view" ng-app="complain">
  <ion-content class="padding">
 <div>  <b class="alignleft">Complain</b> <b class="alignright">UserName</b></div> 
 <div class="input-label">
        &nbsp;
  </div>
  <div ng-hide="complain_available">
	<ion-list>
  		<ion-item ng-repeat="complain in complain_data" ng-click="getComplainDetails(complain)">
        <div class="parent" >
        <p class="alignleft">{{complain.Comment}}</p> <b class="alignright">{{complain.UserName}}</b></div>
  		</ion-item>
	</ion-list>
  </div>
  </ion-content>
</ion-view>