<ion-view view-title="Leave" name="t_leave-view">
  <ion-content class="padding">
  	 <div class="list">
        <!-- Date Selecter -->
<!--         <div style="border-radius:10px;">
 -->
          <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:30%"> 
             <input type="number" value="date" ng-model="leave.Date"></input>
      <!--     <ion-item class="item item-input">
            <p ng-click="getLectureForDate()">Date</p>
          </ion-item> -->
        </div>

        <div class="row" style="margin:10px 0 0 0;">
         	<span style="margin-top:10px;"><b>Enter No of days</b></span>
            &nbsp;&nbsp;&nbsp;    
          <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:30%">
            <input type="number" value="leavedays" ng-init="leave.NoOfDays=''" ng-model="leave.NoOfDays"></input>
          </div>
        </div>
        <br>

        <div class="col-sm-3">
          <span><b>Reason of leave</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-init="leave.ReasonOfLeave=''" ng-model="leave.ReasonOfLeave">{{leave.ReasonOfLeave}}</textarea>
           </div>
        </div>

        <label class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
          <input type="button" class="button button-positive" style="border-radius: 20px;" value="Save" id="Save" ng-click="applyLeave(leave)"/>
        </label>		
        </div>
    </div>
  <ion-content>
  </ion-view>      