<ion-view view-title="Behaviour Notice" name="t_behaviour_notice-view">
  <ion-content class="padding">
  	<div ng-hide="hasCourse">
  	 <label class="item item-input item-select">
      <div class="input-label">
          Select Course
      </div>
      <select ng-options="course.Name for course in course_list" ng-model="selectedCourse" ng-change="getCourseId(selectedCourse)">
          <!-- <option  value="">Select Course</option> -->
      </select>
    </label>
   </div>
   <br>
   
   <!-- Student List --> 
   <div ng-hide="hasBatches">
   	<ion-list>
  		<ion-item  ng-repeat="student in student_list" ng-click="getStudentId(student)">
        <span>{{student.Name}}</span>
    	</ion-item>
  	</ion-list>
   </div>



  </ion-content>
</ion-view>