<ion-view view-title="Exam mark" name="attedance-view" ng-app="attendance">
  <ion-content class="padding">
  <div class="list">
    
    <label class="item item-input item-select">
       <div class="input-label">
           Select Course
       </div>
       <select ng-options="course.Name for course in courseList" ng-model="courseMd" ng-change="getBatchDetails(courseMd)">
           <!-- <option value="">Select Course</option> -->
       </select>
    </label>

    <label class="item item-input item-select" ng-hide="!hasBatches">
       <div class="input-label">
           Select Batch
       </div>
       <select ng-options="batch.Name for batch in batchList" ng-model="batchMd" ng-change="getExamschedule(batchMd)">
           <!-- <option value="">Select Course</option> -->
       </select>
    </label>
    
    <div class="row">&nbsp;</div>
    
    <label class="item item-input item-select" ng-hide="!hasExamschedule">
       <div class="input-label">
           Select Exam Schedule
       </div>
       <select ng-options="exam.Name for exam in examScheduleList" ng-model="examMd" ng-change="getStudentList(examMd)">
           <!-- <option value="">Select Exam Schedule</option> -->
       </select>
    </label>

    <div class="row">&nbsp;</div>

    <div ng-hide="!hasStudentList">
      <div ng-repeat="student in studentList">
        <div class="row underline" style="margin-left: 0px;">
          <div class="col col-10 ">{{student['RollNumber']}}</div>
          <div class="col col-50">{{student['StudentName']}}</div>
          <label class="item item-input" align="right" style=" margin:auto; height:30%;">
             <input class="form-textbox"  type="number" ng-model="students[student.StudentId]" ng-init="students[student.StudentId] = student.TheoryMarks"  style="margin:auto; height:50%;" ng-change="updateMarks({{student['StudentId']}})">
          </label>
          
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <label class="item item-borderless item-input" style="padding:6px 0 5px 2px;">
        <input type="button" class="button button-positive" value="Save" id="save" ng-click="sendData()"/>
        &nbsp;&nbsp;
        <input type="button" class="button button-positive" value="Notification" id="notification"/>
      </label>
    </div>  

  </div>  

  </ion-content>
</ion-view>

