<ion-view view-title="HomeWork" name="t_homework-view">
  <ion-content class="padding">
  	<div class="row" style="padding-left:2%">
        <div class="col padding" style="border: 1px solid #D3D3D3;" ng-click="openDatePicker()">
            <b>{{currentDate}}</b>
        </div>
    </div>
      	<!-- Lecture Drop Down -->
    <br>
    <div ng-hide="!hasBatch">
        <label class="item item-input item-select">
           <div class="input-label">
               Select Batch
           </div>
           <select ng-options="batch.Name for batch in batchList" ng-model="batchMd" ng-change="getLectureDetails(batchMd)">
               <!-- <option value="">Select Batch</option> -->
           </select>
        </label>
    </div>
    <div>&nbsp;</div>
    <div ng-hide="!hasLecture">
      	<label class="item item-input item-select">
            <div class="input-label">
                Select Lecture
            </div>
            <select ng-options="lecture.Name for lecture in lectureList" ng-model="lectureMd" ng-change="getHomeworkDetails(lectureMd)">
                <!-- <option  value="">Select Lecture</option> -->
            </select>
        </label>
    </div>
    <br>
    <div ng-hide="!hasHomework">
         <!-- HomeWork Data -->
        <div>
            <span><b>Enter HomeWork</b></span>
            <br>     
            <div class="item item-input padding" style="border:1px solid #ccc; border-radius:10px; width:100%; margin-top:10px;">
                <textarea placeholder="" style="font-size:15px;" ng-model="lesson.HomeWork">{{lesson.HomeWork}}</textarea>
            </div>
        </div>
        <br>
        <br>
          <!-- ClassWork Data --> 
        <div>
            <span><b>Enter ClassWork</b></span>
            <br>     
            <div class="item item-input padding" style="border:1px solid #ccc; border-radius:10px; width:100%; margin-top:10px;">
                <textarea  placeholder="" style="font-size:15px;" ng-model="lesson.ClassWork">{{lesson.ClassWork}}</textarea>
            </div>
        </div>

        <label class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
            <input type="button" class="button button-positive" style="border-radius: 20px;" value="Save" id="Save" ng-click="saveHomework(lesson)"/>
        </label>
    </div>

  </ion-content>
</ion-view>