<ion-view view-title="Behaviour Notice" name="t_behaviour_notice-view" ng-init="">
  <ion-content class="padding">
    <div class="list">
        <!-- Date Selecter -->
        <div class="row" style="padding-left:2%">
            <div class="col padding" style="border: 1px solid #D3D3D3;" ng-click="openDatePicker()">
                <b>{{currentDate}}</b>
            </div>
        </div>
        <div>&nbsp;</div>
        <div ng-hide="!hasBatch">
            <label class="item item-input item-select">
               <div class="input-label">
                   Select Batch
               </div>
               <select ng-options="batch.Name for batch in batchList" ng-model="batchMd" ng-change="getLectureDetails(batchMd)">
                   <!-- <option value="">Select Batch</option> -->
               </select>
            </label>
        </div>
        <div>&nbsp;</div>

        <div ng-hide="!hasLecture">
            <label class="item item-input item-select">
                <div class="input-label">
                    Select Lecture
                </div>
                <select ng-options="lecture.Name for lecture in lectureList" ng-model="lectureMd" ng-change="getLogBookDetails(lectureMd)">
                    <!-- <option  value="">Select Lecture</option> -->
                </select>
            </label>
        </div>
        <div>&nbsp;</div>

        <!-- LessonPlan -->  
        <div ng-hide="!hasRecord">
        <div>
           <span><b>Lesson Plan</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-model="logbook.LessonPlan">{{logbook.LessonPlan}}</textarea>
           </div>
        </div><br>

        <!-- TeachingAids -->
<!--         <div>
           <span><b>TeachingAids</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-model="logbook.TeachingAids">{{logbook.TeachingAids}}</textarea>
           </div>
        </div><br> -->

        <!-- Comment -->
        <!-- <div>
           <span><b>Comment</b></span>
            <br><br>     
           <div class="item item-input" style="border:1px solid #ccc; border-radius:10px; width:100%">
            <textarea placeholder="" ng-model="logbook.Comment">{{logbook.Comment}}</textarea>
           </div>
        </div><br> -->

        <label class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
          <input type="button" class="button button-positive" style="border-radius: 20px;" value="Save" id="Save" ng-click="saveLogbook(logbook)"/>
        </label>  
        </div>  
    </div>
  </ion-content>
</ion-view>   